includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/Modules
    excludePaths:
        - app/Modules/*/Infrastructure/Persistence/Eloquent/*
    checkUnusedIgnoredErrors: true
